<main class="flex flex-row">
  <canvas
    width="1000"
    height="1000"
    class="h-5/6 w-5/6 bg-slate-100"
    #canvas
    (mousemove)="drag($event)"
    (mouseleave)="stopDrag()"
    (mouseup)="stopDrag()"
    (mousedown)="startDrag()"
  >

  </canvas>
  <div class="w-1/6 h-5/6 flex flex-col">
    <div>
      <button class="w-1/2 bg-gray-700" (click)="scroll(2)">
        Zoom-in
      </button>
      <button class="w-1/2 bg-gray-700" (click)="scroll(-2)">
        Zoom-out
      </button>
    </div>
    <table class="max-h-full w-full mt-2" *ngIf="data !== undefined && data.players.length !== 0">
      <thead class="h-fit">
      <tr>
        <th>Agent</th>
        <th>Territories</th>
      </tr>
      </thead>
      <tbody class="max-h-full overflow-auto">
      <tr *ngFor="let player of data.players" class="h-8">
        <td class="h-8 text-center">
          {{ player.name }}
        </td>
        <td class="h-8 text-center">
          {{player.possessedTerrainsCount}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
