<nav class="flex flex-row justify-between">
  <img
    class="h-4/5 mx-0"
    src="/assets/img/logo_white.png"
    alt="DCI"
  />
  <div class="flex justify-between items-center h-full w-[65%]">
    <a [routerLink]="'/'" class="btn-wrapped-a">Accueil</a>
    <a [routerLink]="'/signup'" class="btn-wrapped-a">Inscription</a>
    <a [routerLink]="'/game'" class="btn-wrapped-a">Jeu</a>
    <a [routerLink]="'/scoreboard'" class="btn-wrapped-a">Scoreboard</a>
    <a [routerLink]="'/admin'" class="btn-wrapped-a">Admin</a>
  </div>
</nav>

<router-outlet></router-outlet>
